.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #f2f2f2; /* Nova cor de fundo */
    height: 100%;
    box-sizing: border-box;
}

.intro-text {
    max-width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.intro-text p {
    color: #000000; 
    margin-bottom: 10px;
    font-size: 14px;
}

.intro-text h1 {
    color: #000000; 
    font-size: 24px; 
    margin-bottom: 10px;
}

.intro-text .highlight {
    color: #E82E5D;
}

.intro-text .button {
    display: inline-block;
    padding: 8px 16px;
    background: #E82E5D;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 14px;
}

.intro-text .button:hover {
    background: #d0254b;
}

.intro-image img {
    display: flex;
    max-width: 200%;
    margin-left: 80%;
   
    
}