.container {
    height: 100vh;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap; /* Permitir que os itens se alinhem em várias linhas em telas menores */
}

.container-text {
    max-width: 100%;
    text-align: left;
    margin-bottom: 20px;
    flex: 1 1 50%; /* Permitir que o texto ocupe até 50% do espaço disponível */
}

.container-text p {
    color: white;
    margin-bottom: 10px;
    font-size: 14px;
}

.container-text h1 {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

.container-text .highlight {
    color: #E82E5D;
}

.container-text .button {
    display: inline-block;
    padding: 8px 16px;
    background: #E82E5D;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 14px;
}

.container-text .button:hover {
    background: #d0254b;
}

.container-img {
    flex: 1 30%; /* Permitir que a imagem ocupe o espaço disponível */
    display: flex;
    justify-content: flex-end; /* Alinhar a imagem à direita */
    align-items: flex-start; /* Alinhar a imagem ao topo */
    position: relative; /* Necessário para ajustar a posição da imagem */
    top: -50px; /* Ajuste conforme necessário para mover a imagem para cima */
    
    
}

.imagemfran {
    max-width: 100%; /* Garantir que a imagem não ultrapasse o tamanho do contêiner */
    height: auto; /* Manter a proporção da imagem */
    width: 80%;
    object-fit: contain;
    
}

/* Ajustes adicionais para telas menores */
@media (max-width: 768px) {
    .container-text, .container-img {
        flex: 1 1 100%; /* Itens ocupam 100% do espaço em telas menores */
        text-align: center; /* Centralizar o texto em telas menores */
        margin-bottom: 20px; /* Adicionar margem inferior para telas menores */
    }

    .container-img {
        top: 0; /* Remover o deslocamento superior em telas menores */
        justify-content: center; /* Centralizar a imagem em telas menores */
    }

    .container-img img {
        width: 80%; /* Ajustar a largura da imagem para telas menores */
    }
}
