* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteudoTodo {
	font-family: 'JetBrains Mono', monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300; 
	flex-direction: column;
	min-width: 100%;
    min-height: 100%;
    flex: 1;
	
}


header {
    padding: 10px 11%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logofran {
    height: 100%;
    max-height: 60px;
    margin-right: 10px;
    object-fit: contain;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 90px;	
}



.nav-links li a {
    color: #ebd5e6;
    text-decoration: none;
    font-size: 16px;
    transition: 0.4s;
    padding-bottom: 10px;
}

.nav-links li div {
    transition: 0.4s;
    height: 1px;
    background-color: #ebd5e6;
    width: 10%;
}

.nav-links li:hover div {
    transition: 0.4s;
    width: 100%;
    background-color: blueviolet;
}

.nav-links li:hover a {
    color: blueviolet;
}
